*.iml
*.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.idea/caches
.idea/modules.xml
.idea
.DS_Store
/build
/captures
.externalNativeBuild
*.apk
*.ap_
*.aab
*.class
bin/
gen/
out/
release/
*.log
.navigation
vcs.xml
gradle.properties
gradle-wrapper.properties
build.gradle
gradlew
gradlew.bat
settings.gradle
